body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-top: 50px;

}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
    margin-bottom: 6px;
}


input[type="text"],
select{
    padding: 10px;
    margin-bottom:10px;
    border:1px solid#ccc;
    border-radius: 4px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"]{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #0056b3;
}

#demo{
    color: red;
    text-align: center;
    margin-top: 10px;
}

label[for="password"],
label[for="confirmPassword"]{
    display: block;
    margin-top: 10px;
}

input[type="password"]{
    width: 95%;
    padding: 10px;
    margin:5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}